%% -*- mode: erlang -*-
%% ex: ft=erlang
{deps, [
        {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
        {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, "master"}}},
        {unite, "", {git, "git://github.com/eproxus/unite.git"}},
        {meck, ".*", {git, "git://github.com/eproxus/meck.git"}},
        {cowboy, ".*", {git, "git://github.com/ninenines/cowboy"}},
        {json, ".*", {git, "git://github.com/talentdeficit/json"}}
       ]
}.
{ct_dir, "itest"}.
{ct_log_dir, "itest/logs"}.
{erl_opts, [{parse_transform, lager_transform}]}.
{eunit_opts, [no_tty, {report, {unite_compact, []}}]}.
{sub_dirs, ["rel"]}.
